<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Verificación de cuenta</h1>

<p>Hola {{ name }},</p>

<p>Tu registro fue exitoso. Para activar tu cuenta haz clic en el siguiente enlace:
</p>

<p><a href="{{ url }}">{{ url }}</a></p>
    
</body>
</html>